<!-- <p>dashboard works!</p>
<br>
<br>
<br>

<h1>user dashboard</h1>
 --> 
 <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" >
    <a class="navbar-brand" routerLink ="/home">Shiksha</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class = "nav-link" routerLink ="/user/dashboard">DashBoard</a>
      </li> 
      <li class="active">
        <a class = "nav-link" routerLink ="/home">Home</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/user/exam">Exam</a>
      </li> 
      <li class="active"> 
        <a class = "nav-link" routerLink ="/user/samplepapers">Sample papers</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/user/performance">Performance</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/user/feedback">Feedback</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/user/manageprofile">Manage Profile</a>
      </li> 
    </ul>
    <ul style="padding-left: 480px;">
      <div>
       <img src="assets/images/avt1.jpg" alt="Avatar" class="avatar" >
      </div>
    </ul>
    <ul class="nav navbar-right">
        <li>
            <div> <a class="nav-link"  (click)="this.AuthService.Logout()">Logout</a></div>
        </li>
    </ul>
     -->
    <!-- <ul class="nav navbar-right">
      <li class="navbar-brand active" *ngIf="this.AuthService.isLoggedIn()" style="padding-left: 870px;" >
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="navbar-brand active" *ngIf="!this.AuthService.isLoggedIn()" style="padding-left: 870px;" >
        <a class="nav-link" routerLink="/logout">Logout</a>
      </li>
    </ul> -->
<!-- 
  </nav>  -->
 
<!-- <br><br><br> 

    <div class="bg-img">
          <br>
         <h1 style="color: white; padding-left: 20px;">User DashBoard</h1>
    </div>

  <router-outlet></router-outlet>
  
  <div class="footer bg-dark">
      <div class="footer-copyright text-center py-2">© 2020 Copyright
        <a routerLink="/home">Shiksha.kdac.org</a>
      </div> 
  </div> -->
  
  
 