<!-- <img src="assets/images/exampin.jpeg" alt="exam" style="width: 100%;height:620px ; opacity: 1;" > -->

<!-- <div class="bg-img" style="opacity: 0.4;">
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;">
        Online Exam Portal application is all about the multiple choice question of the technology related to the tecchnology mostly used in industries now-a-days.
    </p>
</div> -->


<div class="about-section">
  <h1>About Us Page</h1>
</div>




<!-- <nav class="navbar navbar-expand-lg navbar-white bg-dark ">

  <a class="navbar-brand" href="#">Online Quiz System</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          login in
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">admin</a>
          <a class="dropdown-item" href="#">teacher</a>
          <a class="dropdown-item" href="#">student</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            sign up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">admin</a>
            <a class="dropdown-item" href="#">teacher</a>
            <a class="dropdown-item" href="#">student</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container-fluid">
  <h4 style="text-align: center;  line-height: 80px;">about online quiz system</h4>
</div> -->


<!-- <nav class="navbar navbar-expand-lg navbar-light container-fluid ">
  <a class="navbar-brand" href="#">Online Quiz System</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item active"><a class="nav-link" href="#">about</a></li>
          <li class="nav-item active"><a class="nav-link" href="#">contact-us</a></li>
          <li class="nav-item active"><a class="nav-link" href="#">login</a></li>
           <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </div> 
      </ul>
  </div>
</nav> -->

<div class="container">
  <p>
      It is a system by which students can appear in a quiz from anywhere of the world where
      there is no interaction between pencil and paper rather interaction between computer and
      human being.</p>
  <p> we provide just a platform to be conduction online exam of enrolled students under any
      course in a department of any institute.
  </p>
  <p>Main purpose of the project deals with providing facility of solving quiz online. Teachers of
      respective subjects can upload questions. Lab faculties also upload the programming
      questions. Students can solve those in given time. Students can see their result.
  </p>
  <p>The system will determine the student's performance depending on his/her score.
      The system will show result after the examination is finished and also be able to provide
      feedback according to the result.</p>
  <p> Administrative control of the whole system is provided. A teacher has control in the
      question bank and is suppose to make schedule for quiz.
      Teachers can use the OQES for evaluating students effectively, efficiently and perfectly.
  </p>

</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/avt2.jpg" alt="lalit" style="width:100%">
      <div class="container">
        <h2 style="color: white;">Lalit Tomar</h2>
        <p class="title">Developer</p>
        <p>Good in frontend</p>
        <p>lalittomar35@gmail.com</p>
        <p><button class="button"><a routerLink="/contact">Contact</a></button></p>
      </div>
    </div>
  </div>

  <div style="float: right;" class="column">
    <div class="card">
      <img src="assets/images/avt2.jpg" alt="shivam" style="width:100%">
      <div class="container">
        <h2 style="color: white;">Shivam Tomar</h2>
        <p class="title"> Developer</p>
        <p>Good in backend</p>
        <p>shivamtomar7798@gmail.com </p>
        <p><button class="button"> <a routerLink="/contact">Contact</a> </button></p>
      </div>
    </div>
  </div>