<h1 style="text-align: center;" >contact-us </h1>
<br />
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bg-cn" style="height: 100%;">
     <table style="width: 100%;">
         <tr>
             <td>
                <div class="card" style="margin-left: 40%;">
                    <img src="assets/images/avt2.jpg" alt="lalit" style="height: 250px; width:100%;">
                    <h3>Lalit Tomar</h3>
                    <p class="title">Developer,CDAC</p>
                    <p>IACSD</p>
                    <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a> -->
                   <p>
                    PRN    : 200241220085 <br />
                    Course : PG-DAC       <br />
                    Mobile : 8982474017     <br />
                    Email  : lalittomar35@gmail.com  <br />
                   </p>
                    <!-- <p><button>Contact</button></p> -->
                    </div>
             </td>
             <td>
                <div class="card" style="margin-left: 20%;">
                    <img src="assets/images/avt2.jpg" alt="lalitrouterLink" style="height: 250px; width:100%;">
                    <h3>Shivam Tomar</h3>
                    <p class="title">Developer,CDAC</p>
                    <p>IACSD</p>
                    <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a> -->
                    <p>
                    PRN    : 200241220172 <br />
                    Course : PG-DAC       <br />
                    Mobile : 73899796717    <br />
                    Email  : shivamtomar7798@gmail.com <br />
                    </p>
                    <!-- <p><button>Contact</button></p> -->
                    </div>
             </td>
         </tr>
     </table>
    </div>