
 
<br><br><br><br>

<div class="content" >
    <h3 style="color: black;"><b> Paper Format</b></h3>
    <form #form="ngForm" (ngSubmit)="paperFormat(form.value)">
        <table class="table">
            <thead>
               
            </thead>
            <tbody>
                <tr>
                    <td scope="row" style="font: bold;">Subject</td>
                    <td>
                        <input type="text" ngModel name="SubName">
                    </td>
                    
                </tr>
                <tr>
                    <td scope="row" style="font: bold;">No of questions</td>
                    <td>
                        <input type="number" name="NoOfQues">
                    </td>
                   
                </tr>
                <tr>
                    <td colspan="2"><button style="margin-top:10px; margin-left:280px;  font-weight: bold;" class="btn btn-success" type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>
  
</div>
  
  
 