
 <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink ="/home">Shiksha</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/dashboard">DashBoard</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/home">Home</a>
      </li>
      <li class="active"> 
        <a class = "nav-link" routerLink ="/admin/modules">Modules</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/exam">Exam</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/feedback">Feedback</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/manageprofile">Manage Profile</a>
      </li> 
    </ul>
    <ul style="padding-left: 628px;">
      <div>
       <img src="assets/images/avt1.jpg" alt="Avatar" class="avatar" >
      </div>
    </ul>
    <ul class="nav navbar-right">
        <li>
            <a class="nav-link" routerLink="/login">Logout</a>
        </li>
    </ul>
    
 
  </nav> 

<br><br><br><br>
<h1>Admin's Modules page</h1>
