

<br><br><br><br>
<h1>Exam Page</h1>
<div align="center" >
          
  <table border="1">
    <tr>
      <td>
        <table style="height: 300px; width: 500px;" >
          <tr>
            <td colspan="4"></td>
          </tr>
          <tr>
            <!-- <td colspan="4" style="text-align: center;"><b>Subject    :   {{this.subject.subName}}</b></td> -->
            <td colspan="4" style="text-align: center;"><b>Subject    :   {{subname}}</b></td>
            
          </tr>
          <tr>
            <td colspan="4" style="text-align: center;"><b>Duration    :   10 mins</b></td>
          </tr>
          <tr> 
            <td colspan="4">
              
              <button type="button" class="btn btn-large btn-block btn-success" (click)="startExam()" >Start Exam</button>
              
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
 </div>


 