<!-- <p>dashboard works!</p>
<br>
<br>
<br>

<h1>user dashboard</h1>
 --> 

<br><br><br><br>
<h1>Sample Papers</h1>

<html>
    <head>
        <script type="text/javascript">
            function openTab(th)
            {
                window.open(th.name,'_blank');
            }
        </script>
    </head>
    <body>
        <a onClick="openTab(this)" href="http://localhost:53940/api/Subject/pdf" name="PDF/MEAN.pdf" download>Download  MEAN STACK Pdf</a>
    </body>
</html>
