
 <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink ="/home">Shiksha</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/dashboard">DashBoard</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/home">Home</a>
      </li>
      <li class="active"> 
        <a class = "nav-link" routerLink ="/admin/modules">Modules</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/exam">Exam</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/feedback">Feedback</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/manageprofile">Manage Profile</a>
      </li> 
    </ul>
    <ul style="padding-left: 628px;">
      <div>
       <img src="assets/images/avt1.jpg" alt="Avatar" class="avatar" >
      </div>
    </ul>
    <ul class="nav navbar-right">
        <li>
            <a class="nav-link" routerLink="/login">Logout</a>
        </li>
    </ul>
    
 
  </nav>  -->


  <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink ="/home">Shiksha</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/dashboard">DashBoard</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modules
        </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink ="/admin/modules/managesubjects">Manage Subjects</a>
          <a class="dropdown-item" routerLink ="/admin/modules/addsubject">Add Subject</a>
        </div>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/users">Users</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exams
        </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink ="/admin/exam/results">Results</a>
          <a class="dropdown-item" routerLink ="">Set Paper Format</a>
        </div>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/feedback">Feedback</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/manageprofile">Manage Profile</a>
      </li> 
    </ul> 
    <ul style="padding-left: 532px;">
      <div>
       <img src="assets/images/avt1.jpg" alt="Avatar" class="avatar" >
      </div>
    </ul>
    <ul class="nav navbar-right">
        <li>
            <a class="nav-link" routerLink="/home" >Logout</a>
        </li>
    </ul>
    
 
  </nav> 
 -->

  













<!-- 
<br><br><br><br>
<h1>Admin DashBoard</h1>

  <router-outlet></router-outlet>
  
  <div class="footer bg-dark">
      <div class="footer-copyright text-center py-2">© 2020 Copyright
        <a routerLink="/home">Shiksha.kdac.org</a>
      </div> 
  </div> -->
  
  
 